__pycache__/

venv/
.venv/
env/
.env
.env.*

.idea/

# Zbiory danych
audio/dataset/
vision/dataset/

# Wagi YOLO
vision/models/*
!vision/models/emergency_final.pt

# Wagi audio
audio/models/*
!audio/models/wytrenowany_wykrywacz.joblib

# Wyniki YOLO
runs/

# Pomocnicze
yolo26n.pt
